.header__logo {
  max-width: 142px;
}

@media screen and (max-width: 974px) {

  .header__logo {
    margin-left: 45px;
  }

}

@media screen and (max-width: 700px) {

  .header__logo {
    max-width: 104px;
    margin-left: 0;
  }

}