.profile {
    max-width: 100%;
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1279px) {
    .profile {
        flex-direction: column;
        max-width: 282px;
        margin: 38px auto 0;
        position: relative;
    }
}