.profile__card {
    max-width: 292.83px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

@media screen and (max-width:1279px) {
    .profile__card {
        row-gap: 14px;
    }
}