.popup__input-btn {
    background: #000;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    opacity: 1;
    padding-bottom: 18px;
    padding-top: 14px;
    text-align: center;
    transition: opacity .5s ease;
}

@media screen and (max-width:1279px) {
    .popup__input-btn {
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
    }
}

.popup__input-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}