.profile__addButton {
    Width: 152px;
    height: 52px;
    background: url(../../../images/Add\ Button.svg) no-repeat;
    cursor: pointer;
    border: 1px;
    align-self: center;
    transition: opacity 0.5s ease;
}

@media screen and (max-width:1279px) {
    .profile__addButton {
        background: url(../../../images/bigaddbtn.svg) no-repeat;
        margin: 0;
        padding: 0;
        width: 282px;
        height: 50px;
        margin-top: 36px;
    }
}

.profile__addButton:hover {
    opacity: 0.6;
}