.popup__input-btn_inactive {
    color: #000;
    border: 1px solid #000000;
    cursor: default;
    background-color: #E5E5E5;
    opacity: 0.2;
  }
  .popup__input-btn_inactive:hover {
    opacity: 0.2;
  }