.popup__input-btn_inactive {
  background: none;
  border: 1px solid #000;
  color: #000;
  cursor: default;
  opacity: .2;
  padding-bottom: 17px;
  padding-top: 13px;
  }

.popup__input-btn_inactive:hover {
  background-color: #E5E5E5;
}
