.element__like-button {
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  background-image: url(../../../images/element/element__like-button.svg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.element__like-button:hover {
  opacity: .5;
}

.element__like-button:focus {
  outline: none;
}