.popup__input-error_active {
    max-width: 334px;
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 13px;
  }